<div class="page-header">
  <h1>Editing person</h1>
</div>

<%= render 'form' %>

<div class="well example">
  <p>
    <strong>
      It should look like this:
    </strong>
  </p>

  <%= image_tag "edit-person.png", class: "img-responsive" %>
</div>
